.az-dropdown-wrapper {
  position: relative;
  width: 194px;
}

.az-dropdown-trigger {
  position: relative;
  height: 28px;
  padding: 0 10px;
  font-size: 12px;
  line-height: 28px;
  color: #bbbbbb;
  background-color: #ffffff;
  border: 2px solid #e4e4e4;
}

.az-dropdown-trigger:after,
.az-dropdown-trigger:before {
  display: table;
  content: "";
}

.az-dropdown-trigger:after {
  overflow: hidden;
  clear: both;
}

.az-dropdown-trigger:hover {
  border-color: #bbbbbb;
}

.az-dropdown-trigger i {
  position: absolute;
  top: 0;
  right: 10px;
}

.az-dropdown-trigger i:before {
  display: inline-block;
  width: 1em;
  line-height: 1em;
  text-decoration: none;
  content: url("../images/icon-trangle.png");
  speak: none;
}

.az-dropdown-panel {
  position: absolute;
  z-index: 3;
  display: none;
  width: inherit;
  padding: 3px 2px;
  margin: 5px 0;
  background-color: #ffffff;
  border: 2px solid #e4e4e4;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.az-dropdown-panel li {
  display: block;
  padding: 6px 10px;
  margin: 0;
  font-size: 12px;
  color: #777777;
  list-style: none;
  background-color: #ffffff;
}

.az-dropdown-panel li:hover {
  color: #ffffff;
  background-color: #41a9e5;
}

.az-dropdown-mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.az-dropdown-panel.az-dropdown_show {
  display: block;
}